/* body and icons box */
.body {
  display: flex;
  background-image: url("../../assets/background.jpeg");
  background-size: cover;
  gap: 50px;
  padding: 50px 0px;
}
.inner-body {
  display: flex;
  width: 800px;
  height: 800px;
  position: relative;
}

/* custom css class */
.custom-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-bg {
  background-color: rgb(220, 220, 220);
  margin: 3px;
  border: 1px solid grey;
  border-radius: 4px;
}

/* form here */
.form-body {
  color: black;
  width: 500px;
  border-radius: 7px;
}



/* media query for small screen */
@media only screen and (max-width: 600px) {
  .form-body {
    width: 250px;
    height: 600px;
  }
  .inner-body {
    display: flex;
    width: 350px;
    height: 600px;
  }
  .card {
    width: 85%;
  }
}

/* media query for mid size screen */
@media (min-width: 601px) and (max-width: 1000px) {
  .form-body {
    width: 350px;
    height: 600px;
  }
  .inner-body {
    display: flex;
    width: 550px;
    height: 600px;
  }
  .card {
    width: 75%;
  }
}
