.body {
  display: flex;
  background-image: linear-gradient(
    to right,
    rgba(170, 6, 170, 0.5),
    rgba(175, 6, 174, 1)
  );
}

card {
  width: 200px;
}

.form-body {
  background-color: white;
  color: blue;
  height: 800px;
  width: 800px;
}

#img1 {
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 999;
  width: 150px;
  animation-name: img1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img1 {
  0% {
    top: 50px;
  }
  50% {
    top: 60px;
  }
  100% {
    top: 50px;
  }
}
#img2 {
  position: absolute;
  top: 300px;
  right: 75px;
  z-index: 999;
  width: 150px;
  animation-name: img2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img2 {
  0% {
    top: 300px;
  }
  50% {
    top: 310px;
  }
  100% {
    top: 300px;
  }
}
#img3 {
  position: absolute;
  top: 600px;
  right: 50px;
  z-index: 999;
  width: 150px;
  animation-name: img3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img3 {
  0% {
    top: 600px;
  }
  50% {
    top: 590px;
  }
  100% {
    top: 600px;
  }
}
#img4 {
  position: absolute;
  bottom: 500px;
  left: 20px;
  z-index: 999;
  width: 150px;
  animation-name: img4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img4 {
  0% {
    bottom: 300px;
  }
  50% {
    bottom: 310px;
  }
  100% {
    bottom: 300px;
  }
}
#img5 {
  position: absolute;
  bottom: 300px;
  left: 60px;
  z-index: 999;
  width: 150px;
  animation-name: img5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img5 {
  0% {
    bottom: 500px;
  }
  50% {
    bottom: 490px;
  }
  100% {
    bottom: 500px;
  }
}
#img6 {
  position: absolute;
  bottom: 100px;
  left: 90px;
  z-index: 999;
  width: 150px;
  animation-name: img6;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img6 {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .form-body {
    background-color: white;
    color: blue;
    width: 350px;
    height: 600px;
  }
  #img1 {
    width: 70px;
  }
  #img2 {
    top: 250px;
    width: 70px;
    right: 25px;
  }

  @keyframes img2 {
    0% {
      top: 250px;
    }
    50% {
      top: 240px;
    }
    100% {
      top: 250px;
    }
  }
  #img3 {
    top: 10px;
    width: 70px;
  }

  @keyframes img3 {
    0% {
      top: 500px;
    }
    50% {
      top: 510px;
    }
    100% {
      top: 500px;
    }
  }
  #img4 {
    width: 70px;
  }
  #img5 {
    width: 70px;
  }
  #img6 {
    bottom: 50px;
    left: 30px;
    width: 70px;
  }

  @keyframes img6 {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 60px;
    }
    100% {
      bottom: 50px;
    }
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .form-body {
    background-color: white;
    color: blue;
    width: 600px;
    height: 600px;
  }
  #img1 {
    width: 70px;
  }
  #img2 {
    top: 250px;
    width: 70px;
    right: 25px;
  }

  @keyframes img2 {
    0% {
      top: 250px;
    }
    50% {
      top: 240px;
    }
    100% {
      top: 250px;
    }
  }
  #img3 {
    top: 10px;
    width: 70px;
  }

  @keyframes img3 {
    0% {
      top: 500px;
    }
    50% {
      top: 510px;
    }
    100% {
      top: 500px;
    }
  }
  #img4 {
    width: 70px;
  }
  #img5 {
    width: 70px;
  }
  #img6 {
    bottom: 50px;
    left: 30px;
    width: 70px;
  }

  @keyframes img6 {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 60px;
    }
    100% {
      bottom: 50px;
    }
  }
}
